SOURCE_DIR=./www
############# NINGX 配置目录 #############
NGINX_CONFD_DIR=./conf
############# NINGX 日志目录 #############
NGINX_LOG_DIR=./log/nginx
############# 管理员账户 #############
YAPI_ADMIN_ACCOUNT=admin@docker.yapi
#############管理员密码#############
YAPI_ADMIN_PASSWORD=adm1n
#############是否开启注册#############
YAPI_CLOSE_REGISTER=true
############# mongo数据库名称 #############
YAPI_DB_SERVERNAME=yapi-mongo
############# mongo 端口 #############
YAPI_DB_PORT=27017
############# db name #############
YAPI_DB_DATABASE=yapi
############# 是否开启邮件通知 #############
YAPI_MAIL_ENABLE=false
############# yapi插件 #############
YAPI_LDAP_LOGIN_ENABLE=false